<div style="height: 100%; width: 70%; display: inline-block;">
    <div class="video-box">
        <app-video-feed></app-video-feed>
    </div>
    <div class="logger-box component">
        <div style="height: 100%; width: 100%; background: #eee;">
            <div class="component-title">Depth</div>
            {{depth}}
        </div>
    </div>
</div>
<!-- <div style="height: 100%; width: 30%; display: inline-block; vertical-align: top;">
    <div class="control-box">
        <div style="height: 100%; width: 100%; background: #eee;">
            Controls component
        </div>
    </div>
    <div class="other-box">
        <div style="height: 100%; width: 100%; background: #eee;">
            Other component
        </div>
    </div>
    <div class="other-box">
        <div style="height: 100%; width: 100%; background: #eee;">
            Other component
        </div>
    </div>
</div> -->
