<div class="container">
  <app-video-feed></app-video-feed>
  <app-depth></app-depth>
  <app-imu></app-imu>
</div>
<!-- <div style="height: 100%; width: 30%; display: inline-block; vertical-align: top;">
    <div class="control-box">
        <div style="height: 100%; width: 100%; background: #eee;">
            Controls component
        </div>
    </div>
    <div class="other-box">
        <div style="height: 100%; width: 100%; background: #eee;">
            Other component
        </div>
    </div>
    <div class="other-box">
        <div style="height: 100%; width: 100%; background: #eee;">
            Other component
        </div>
    </div>
</div> -->
