/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.component-title {
  text-align: center;
  font-size: 20px;
  color: #FFFFDA;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding: 10px;
  background-color: #191919;
}

.component {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); this line is not working because overflow auto*/
  /* border-radius: 10px; */
  /* overflow: auto; */
  margin: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
